/*------------------------------------*\
  Components > Home Button
\*------------------------------------*/

.c-home-button {
  &__icon {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/site/home-icon.svg);
    background-size: 25px 25px;

    @include attention() {
      fill: $color-brand;
    }
  } 
}