/*------------------------------------*\
  Components > Home Button
\*------------------------------------*/

.c-home-button {
  &__icon {
    display: block;
    width: 25px;
    height: 25px;
    background-color: $color-text;
    -webkit-mask-image: url(/images/site/home-icon.svg);
    mask-image: url(/images/site/home-icon.svg);
    background-size: 25px 25px;

    @include attention() {
      background-color: $color-brand;
    }
  } 
}